<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/main.css">
<div class="grid container bootstrap snippet mt-5">
    <div class="main-body">

        <div class="row row bg-light p-3">
            <div class="col-md-3">
                <!--left col-->
                <nav class="category">
                    <h1 class="category__heading">
                        {{user.fullName}}
                    </h1>
                    <a href="/user/logout" class="border-bottom flex-c-m cl0 size-104 bg1 bor1 p-lr-15">
                        Đăng xuất
                    </a>
                    <ul class="category-list">
                        <li class="category-item category-item--active">
                            <a href="/user" class="category-item__link">Tài khoản của tôi</a>
                        </li>
                        <li class="category-item">
                            <a href="/user/orders" class="category-item__link">Đơn hàng của tôi</a>
                        </li>

                        <li class="category-item">
                            <a href="/user/address" class="category-item__link">Địa chỉ</a>
                        </li>
                        <li class="category-item">
                            <a href="/user/recently_viewed" class="category-item__link">Đã xem gần đây</a>
                        </li>
                        <li class="category-item">
                            <a href="/user/favorite_product" class="category-item__link">Sản phẩm yêu thích</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!--/col-3-->
            <div class="col-md-9">
                <nav class="category">
                    <h4 class="success text-success mb-3" style="display: none;">Update successfully</h4>
                    <h4 class="error text-danger mb-3" style="display: none;">Update failed</h4>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a data-toggle="tab" class="nav-link active" role="tab" href="#profile">My
                                profile</a></li>
                        <li class="nav-item"><a data-toggle="tab" class="nav-link" role="tab" href="#passwordtab">Change
                                password</a></li>
                    </ul>

                    <div class="tab-content mt-3">
                        <div class="tab-pane fade active show" role="tabpanel" id="profile">
                            <form class="form" id="form-info" method="POST" action="/user/{{user._id}}?_method=PUT">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label for="full_name">
                                            <h5>Full name </h5>
                                        </label>
                                        <input type="text" value="{{user.fullName}}" class="form-control"
                                            name="fullName" id="fullName" placeholder="Enter your full name"
                                            title="Enter your full name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label for="phone">
                                            <h5>Phone number</h5>
                                        </label>
                                        <input type="text" class="form-control" name="phone" id="phone"
                                            placeholder="Enter your phone number" title="Enter your phone number"
                                            value="{{user.phone}}">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-12">
                                        <label for="email">
                                            <h5>Email:</h5>
                                        </label>
                                        <input type="email" class="form-control" name="email" id="email"
                                            value="{{user.email}}" placeholder="Enter your email"
                                            title="Enter your email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label for="address">
                                            <h5>Address:</h5>
                                        </label>
                                        <input type="text" class="form-control" name="address" id="address"
                                            value="{{user.address}}" placeholder="Enter your address"
                                            title="Enter your address">
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-5" type="submit">Save</button>
                            </form>

                        </div>
                        <!--/tab-pane-->
                        <div class="tab-pane fade" role="tabpanel" id="passwordtab">
                            <form class="form" id="form-password" method="POST" action="/user/updatePass/{{user._id}}?_method=PUT">
                                <div class="form-group">

                                    <div class="col-xs-12">
                                        <label for="password">
                                            <h5>New password</h5>
                                        </label>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Enter your new password" title="Nhập vào mật khẩu mới.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-12">
                                        <label for="password2">
                                            <h5>Confirm Password</h5>
                                        </label>
                                        <input type="password" class="form-control" name="password2" id="password2"
                                            placeholder="Confirm your new password" title="Confirm your new password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success pull-right" type="submit"><i
                                                class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </nav>
            </div>
        </div>

    </div>
</div>

<script>
</script>
{{!-- <script src="/js/user-profile.js"></script> --}}